body {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 35, 255, 1) 49%, rgba(255, 0, 0, 1) 100%);
    font-family: sans-serif;
    height: 105vh;
    margin: 0;
}

#display {
    width: 268px;
    height: 120px;
    text-align: right;
    vertical-align: bottom;
    color: white;
    font-size: 42px;
}

.container {
    width: 305px;
    display: block;
    color: white;
    text-align: center;
}

#tema {
    background-color: transparent;
}

table {
    width: 100%;
    background-color: black;
    border-color: transparent;
    border-radius: 20px;
    padding: 10px;
}

button {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: #39B5E0;
    border-radius: 500px;
    background-color: transparent;
    border-color: #39B5E0;
    border: 2px solid;
}

button:active {
    border-color: #2595ba;
    color: #2595ba;
}

.del {
    border-color: #FF004D;
    color: #FF004D;
}

.del:active {
    border-color: #bf1927;
    color: #bf1927;
}

.op {
    border-color: #F94C10;
    color: #F94C10;
}

.op:active {
    border-color: #e37f14;
    color: #e37f14;
}

.smdg {
    border-color: #EA047E;
    color: #EA047E;
    height: 126px;
}

.smdg:active {
    border-color: #fa059c;
    color: #fa059c;
}

.an {
    border-color: #EA047E;
    color: #EA047E;
}

.an:active {
    border-color: #fa059c;
    color: #fa059c;
}

.tombol-tema {
    background-color: transparent;
}

a {
    padding: 18px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}